
.toolbar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: white;
  z-index: 12;
  text-align: left;
}

.neon-animatable {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 112px;
}

.neon-animated-pages > .iron-selected {
  display: flex;
}

.neon-animated-pages > * {
  display: none;
}

.neon-animated-pages {
  overflow: hidden;
}

div.neon-animatable:nth-child(1),
neon-animatable:nth-child(6) {
  background: var(--paper-red-500);
}

div.neon-animatable:nth-child(2) {
  background: var(--paper-blue-500);
}

div.neon-animatable:nth-child(3) {
  background: var(--paper-orange-500);
}

div.neon-animatable:nth-child(4) {
  background: var(--paper-green-500);
}

div.neon-animatable:nth-child(5) {
  background: var(--paper-purple-500);
}
