
{% set pageStylesheets = ["/styles/shared-styles.css", "/styles/declarative.css"] %}
{% set scripts = ["/scripts/declarative.js"] %}
{% set pages = [
  {number: 1},
  {number: 2},
  {number: 3},
  {number: 4},
  {number: 5}
] %}
{% set arrowButtons = [
  {value: "&#8678;", id: "prev"},
  {value: "&#8680;", id: "next"},
  {value: "&#8679;", id: "up"},
  {value: "&#8681;", id: "down"}
] %}

{% extends "_layout.njk" %}

{% block content %}
  <main>
    <div class="toolbar">
      {% for arrowButton in arrowButtons %}
        <button
          id="{{arrowButton.id}}"
          class="arrow-button">
          {{arrowButton.value | safe}}
        </button>
      {% endfor %}
    </div>

    <div class="neon-animated-pages">
      {% for page in pages %}
        <div
          id="{{page.number}}"
          {% if page.number === 1 %}
            class="neon-animatable iron-selected"
          {% else %}
            class="neon-animatable"
          {% endif %}>
          {{page.number}}
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
