
{% set pageStylesheets = ["/styles/shared-styles.css", "/styles/grid.css"] %}
{% extends "_layout.njk" %}

{% block content %}
<main class="animated-grid">
  {% set tiles = [
    {value: 1, class: 'blue-300'},
    {value: 2, class: 'red-300'},
    {value: 3, class: 'blue-300'},
    {value: 4, class: 'green-300'},
    {value: 5, class: 'yellow-300'},
    {value: 6, class: 'blue-300'},
    {value: 7, class: 'red-300'},
    {value: 8, class: 'green-300'},
    {value: 9, class: 'yellow-300'},
    {value: 10, class: 'red-300'}    
  ] %}
  {% for tile in tiles %}
    <div class="{{"tile " + tile.class}}">
      <span>{{tile.value}}</span>
    </div>
  {% endfor %}
</main>
{% endblock %}
