
{% set pageStylesheets = ["/styles/shared-styles.css", "/styles/grid.css"] %}
{% set scripts = ["/scripts/grid.js"] %}
{% set tiles = [
  {value: 1, color: 'blue', shade: 300},
  {value: 2, color: 'red', shade: 300},
  {value: 3, color: 'blue', shade: 300},
  {value: 4, color: 'green', shade: 300},
  {value: 5, color: 'yellow', shade: 300},
  {value: 6, color: 'blue', shade: 300},
  {value: 7, color: 'red', shade: 300},
  {value: 8, color: 'green', shade: 300},
  {value: 9, color: 'yellow', shade: 300},
  {value: 10, color: 'red', shade: 300}    
] %}

{% extends "_layout.njk" %}

{% block content %}
<main class="neon-animated-pages">
  <div class="animated-grid">
    {% for tile in tiles %}
      <div
        id="tile"
        data-color="{{tile.color}}"
        class="{{"tile " + tile.color + "-" + tile.shade}}">
        <span>{{tile.value}}</span>
      </div>
    {% endfor %}
  </div>
  <div
    style="display: none;"
    class="fullsize-page-with-card">
    <!-- TODO: class should be dynamic -->
    <div id="fixed"></div>
    <div id="card"></div>
  </div>
</main>
{% endblock %}
