
{% set pageStylesheets = ["/styles/index.css"] %}
{% extends "_layout.njk" %}

{% block content %}
  <main>
    <div class="horizontal-section-container">
      <div>
        <h4>Sample demos</h4>
        <ul class="horizontal-section">
          <li><a href="grid.html">Grid</a></li>
          <li><a href="declarative.html">Declarative</a></li>
          <li><a href="material-music.html">Material Music</a></li>
          <!-- <a href="doc/index.html">basic</a>
          <a href="dropdown/index.html">dropdown</a>
          <a href="list/index.html">list</a>
          <a href="load/index.html">load</a>
          <a href="tiles/index.html">tiles</a>
          <a href="card/index.html">card</a> -->
        </div>
      </div>
    </div>
  </main>
{% endblock %}
