
{% set pageStylesheets = ["/styles/material-music.css"] %}
{% set scripts = ["/scripts/material-music.js"] %}
{% set tiles = [
  {
    value: 1,
    color: "blue",
    artist: "Kodaline",
    album: "In A Perfect World",
    url: "assets/images/kodaline.jpg"
  },
  {
    value: 2,
    color: "red",
    fab: "yuna-yellow",
    artist: "Yuna",
    album: "Lights and Camera",
    url: "assets/images/artworks-000060971310-g3znsu-t500x500.jpg",
    largeUrl: "assets/images/yuna-a47c1e9674648887f73980cc458c6de378f57884.jpg"},
  {
    value: 3,
    color: "purple",
    artist: "Ellie Goulding",
    album: "Halcyon Days",
    url: "assets/images/ellie-goulding-halcyon-days-500x500.png",
    largeUrl: "assets/images/ellie-goulding-bg.jpg",
    fab: "ellie-blue"
  },
  {
    value: 8,
    color: "vivid",
    artist: "One Republic",
    album: "Native",
    url: "assets/images/one-republic.jpg",
    size: "cover"
  },
  {
    value: 5,
    color: "mulberry",
    artist: "The Strokes",
    album: "Comedown Machine",
    url: "assets/images/strokes-comedownmachine.jpg"
  },
  {
    value: 4,
    color: "yellow",
    fab: "pharrell-fab",
    artist: "Pharrell Williams",
    album: "GIRL",
    url: "assets/images/pharrell-girl-bright.jpg",
    largeUrl: "assets/images/20150204-pharrellwilliams-sgp.jpg"
  },
  {
    value: 6,
    color: "sap",
    artist: "Flipsyde",
    album: "We The People",
    url: "assets/images/flipside.jpg",
    largeUrl: "assets/images/flipside.jpg"
  },
  {
    value: 4,
    color: "jagular",
    fab: "jagular",
    artist: "Rhye",
    album: "Woman",
    url: "assets/images/rhye-woman.jpeg",
    largeUrl: "assets/images/rhye-woman.jpeg"
  },
  {
    value: 7,
    color: "athens",
    artist: "Jamie Lidell",
    album: "Jamie Lidell",
    url: "assets/images/jamie-lidell-cover.jpg",
    largeUrl: "assets/images/jamie-lidell-cover.jpg"
  },
  {
    value: 10,
    color: "egyptian-blue",
    artist: "Neon Trees",
    album: "Pop Psychology",
    url: "assets/images/neon-trees-pop-psychology.jpg",
    largeUrl: "assets/images/neon-trees-pop-psychology.jpg"
  },
  {
    value: 9,
    color: "william",
    artist: "Foster The People",
    album: "Supermodel",
    url: "assets/images/foster-the-people.jpg",
    largeUrl: "assets/images/foster-the-people.jpg"
  },
  {
    value: 10,
    color: "charcoal",
    artist: "Fitz And The Tantrums",
    album: "More Than Just A Dream",
    url: "assets/images/more-than-just-a-dream.jpg",
    largeUrl: "assets/images/fitz-tantrums-more-than-just-dream.jpg"
  }
] %}

{% extends "_layout.njk" %}

{% block content %}
  <main class="neon-animated-pages">
    <div class="animated-grid">
      {% for tile in tiles %}
        <div
          id="tile"
          class="{{"tile " + tile.color + "-" + 300}}"
          style="background-image: url({{tile.url}});">
          <div class="{{"footer " + tile.color + "-" + 300}}">
            <!-- TODO: might not needed -->
            <div class="">
              <div class="album">{{tile.album}}</div>
              <div class="artist">{{tile.artist}}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- <div class="fullsize-page-with-card">
      <div id="fixed"></div>
      <div id="card"></div>
    </div> -->
  </main>
{% endblock %}
