
{% set pageStylesheets = ["/styles/material-music.css"] %}
{% set scripts = ["/scripts/material-music.js"] %}
{% set tiles = [
  {
    value: 1,
    color: "blue",
    fab: "green-100",
    artist: "Kodaline",
    album: "In A Perfect World",
    profile: "/assets/images/kodaline.jpg",
    background: "/assets/images/large-kodaline.jpg"
  },
  {
    value: 2,
    color: "red",
    fab: "yuna-yellow",
    artist: "Yuna",
    album: "Lights and Camera",
    profile: "/assets/images/artworks-000060971310-g3znsu-t500x500.jpg",
    background: "/assets/images/yuna-a47c1e9674648887f73980cc458c6de378f57884.jpg"},
  {
    value: 3,
    color: "purple",
    fab: "ellie-blue",
    artist: "Ellie Goulding",
    album: "Halcyon Days",
    profile: "/assets/images/ellie-goulding-halcyon-days-500x500.jpg",
    background: "/assets/images/ellie-goulding-bg.jpg"
  },
  {
    value: 4,
    color: "vivid",
    fab: "green-300",
    artist: "One Republic",
    album: "Native",
    profile: "/assets/images/one-republic.jpg",
    size: "cover"
  },
  {
    value: 5,
    color: "mulberry",
    fab: "yuna-yellow",
    artist: "The Strokes",
    album: "Comedown Machine",
    profile: "/assets/images/strokes-comedownmachine.jpg"
  },
  {
    value: 6,
    color: "yellow",
    fab: "pharrell-fab",
    artist: "Pharrell Williams",
    album: "GIRL",
    profile: "/assets/images/pharrell-girl-bright.jpg",
    background: "/assets/images/20150204-pharrellwilliams-sgp.jpg"
  },
  {
    value: 7,
    color: "sap",
    fab: "jackson-300",
    artist: "Flipsyde",
    album: "We The People",
    profile: "/assets/images/flipside.jpg",
    background: "/assets/images/flipside.jpg"
  },
  {
    value: 8,
    color: "jagular",
    fab: "portrage-300",
    artist: "Rhye",
    album: "Woman",
    profile: "/assets/images/rhye-woman.jpg",
    background: "/assets/images/rhye-woman.jpg"
  },
  {
    value: 9,
    color: "athens",
    fab: "yuna-yellow",
    artist: "Jamie Lidell",
    album: "Jamie Lidell",
    profile: "/assets/images/jamie-lidell-cover.jpg",
    background: "/assets/images/jamie-lidell-cover.jpg"
  },
  {
    value: 10,
    color: "egyptian-blue",
    fab: "yuna-yellow",
    artist: "Neon Trees",
    album: "Pop Psychology",
    profile: "/assets/images/neon-trees-pop-psychology.jpg",
    background: "/assets/images/neon-trees-pop-psychology.jpg"
  },
  {
    value: 11,
    color: "william",
    fab: "yuna-yellow",
    artist: "Foster The People",
    album: "Supermodel",
    profile: "/assets/images/foster-the-people.jpg",
    background: "/assets/images/foster-the-people.jpg"
  },
  {
    value: 12,
    color: "charcoal",
    fab: "yuna-yellow",
    artist: "Fitz And The Tantrums",
    album: "More Than Just A Dream",
    profile: "/assets/images/more-than-just-a-dream.jpg",
    background: "/assets/images/fitz-tantrums-more-than-just-dream.jpg"
  }
] %}

{% extends "_layout.njk" %}

{% block content %}
  <main class="neon-animated-pages">
    <div class="animated-grid">
      {% for tile in tiles %}
        <div
          id="tile"
          data-color="{{tile.color}}"
          data-profile="{{tile.profile | safe}}"
          data-background="{{tile.background | safe}}"
          data-album="{{tile.album}}"
          data-artist="{{tile.artist}}"
          data-fab="{{tile.fab}}"
          class="{{"tile " + tile.color + "-" + 300}}"
          style='background-image: url("{{tile.profile | safe}}");'>
          <div class="{{"footer " + tile.color + "-" + 300}}">
            <div class="album">{{tile.album}}</div>
            <div class="artist">{{tile.artist}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="fullsize-page-with-card">
      <div id="fixed">
      </div>
      <div
        id="bg-img"
        class="fade">
      </div>
      <div id="card">
        <div class="container">
          <div class="album-art">
          </div>
          <div class="album-details">
            <svg
              id="Layer_1"
              class="favorite-star"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 25 25">
              <title>Star</title>
              <path
                id="Star"
                d="M24.93,8.76a1.06,1.06,0,0,0-1-.72h-8L13.51.76a1.1,1.1,0,0,0-1-.76,1,1,0,0,0-1,.71L9.07,8h-8a1.06,1.06,0,0,0-1,.72A1.11,1.11,0,0,0,.4,10L7,15.12,4.52,23.57a1,1,0,0,0,.41,1.18,1.05,1.05,0,0,0,1.26,0l6.32-4.83,6.32,4.82a1,1,0,0,0,1.25,0,1.06,1.06,0,0,0,.42-1.18L18,15.07,24.62,10A1.11,1.11,0,0,0,24.93,8.76Zm-19,15.57h0Z"
                fill="#FFFFFF" />
            </svg>
            <div class="album-text">
              <span class="album-name"></span>
              <span class="artist-name"></span>
            </div>
            <div id="lowerbar">
              <div id="fab">
                <svg
                  width="20px"
                  height="14px"
                  viewBox="0 0 20 14"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>playlist_add</title>
                  <desc>Created with Sketch.</desc>
                  <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Two-Tone" transform="translate(-238.000000, -956.000000)">
                      <g id="AV" transform="translate(100.000000, 852.000000)">
                        <g id="Two-Tone-/-AV-/-playlist_add" transform="translate(136.000000, 98.000000)">
                          <g>
                            <polygon
                              id="Path"
                              points="0 0 24 0 24 24 0 24">
                            </polygon>
                            <path
                              d="M2,14 L10,14 L10,16 L2,16 L2,14 Z M2,10 L14,10 L14,12 L2,12 L2,10 Z M2,6 L14,6 L14,8 L2,8 L2,6 Z M18,10 L16,10 L16,14 L12,14 L12,16 L16,16 L16,20 L18,20 L18,16 L22,16 L22,14 L18,14 L18,10 Z"
                              id="ðŸ”¹-Primary-Color"
                              fill="#FFFFFF">
                            </path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="music-control">
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 55 55"
                  xml:space="preserve">
                  <polygon points="28,27.5 55,8.513 55,27.155 55,46.487" />
                  <polygon points="0,27.5 27,8.5 27,27.5 27,46.5" />
                </svg>
                <svg
                  viewBox="0 0 48 48"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-838-2232H562v3600H-838z"
                    fill="none" />
                  <path d="M16 10v28l22-14z" />
                  <path
                    d="M0 0h48v48H0z"
                    fill="none" />
                </svg>
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 55 55"
                  xml:space="preserve">
                  <polygon points="27,27.5 0,46.487 0,27.845 0,8.513" />
                  <polygon points="55,27.5 28,46.5 28,27.5 28,8.5" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="album-list">
          <table>
            {% for index in range(0, 20) -%}
              <tr>
                <td>{{index}}</td>
                <td>Song name</td>
                <td>3:54</td>
              </tr>
            {%- endfor %}
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
